{% extends "home/base.html" %}

{% block content %}

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
  
  <div class="border border-light p-3 mb-4 text-center">
    {% if user.is_authenticated %}
    <h1>Welcome, {{ user.get_username }}. Thanks for logging in.</h1>
{% else %}
    <h1></h1>
{% endif %}
 <br><br><br>
  </div>

     <div class="d-flex align-items-center justify-content-center" style="height: 350px">
      <div class="p-2 bd-highlight col-example text-center"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/static/home/webcam.png" alt="Webcam">
        <div class="card-body">
          <h5 class="card-title">Webcam</h5>
          <p class="card-text">Detect traffic signs using your webcam</p>
          <a href="/live" class="btn btn-primary">Open</a>
        </div>
      </div></div>
      <div class="p-2 bd-highlight col-example text-center"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/static/home/image.png" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Image</h5>
          <p class="card-text">Detect traffic signs by uploading an image</p>
          <a href="/image" class="btn btn-warning">Open</a>
        </div>
      </div></div>
      <div class="p-2 bd-highlight col-example text-center"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/static/home/bug.png" alt="Report">
        <div class="card-body ">
          <h5 class="card-title">Report Bug</h5>
          <p class="card-text">Help us improve by reporting a bug</p>
          <a href="/report" class="btn btn-danger">Open</a>
        </div>
      </div></div>
    </div>

 

{% endblock %}